<h1>Hello World!</h1>



<a href="/demo/hello"> Hello page 1 </a><br/>

<%= link_to  "text", {:action => 'hello'} %><br/>

<%= link_to  "text2", 'hello' %><br/>

<%= link_to  "Hello with parameters", {:action => 'hello', :page => 5, :id => 20} %>